.account-container {
    margin-left: 2.25rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-nav {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}

.acc-nav-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--main-black-color);
    transition: opacity 0.3s ease;
    text-transform: none;
}

.acc-nav-link:hover {
    transform: translateY(-1px);
}
