.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    margin-top: 5rem;
    width: 100%;
    transition: margin-top 0.3s ease;
}

.page-content.no-margin {
    margin-top: 0;
}