
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap');

@font-face {
  font-family: 'EthicNew';
  src: url('./src/assets/fonts/EthicNew-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TerminaTest';
  src: url('./src/assets/fonts/TerminaTest-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TerminaTest';
  src: url('./src/assets/fonts/TerminaTest-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}