.footer-container {
    width: 100%;
    background-color: var(--main-black-color);
    z-index: 1101;
}

.footer-logo-section {
    padding: 36px;
    border-bottom: 0.5px solid var(--main-white-color);
}

.footer-nav-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    border-bottom: 0.5px solid var(--main-white-color);
}

.footer-col {
    padding: 24px 36px;
    border-right: 0.5px solid var(--main-white-color);

}

.footer-col-title {
    width: fit-content;
    text-transform: uppercase;
    color: var(--main-white-color);
    margin: 0 0 32px 0;
}

.footer-link {
    display: block;
    color: var(--main-white-color);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 16px;
    transition: color 0.2s ease;
}

.footer-link:hover {
    transform: translateY(-1px);
}

.footer-socialmedia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    padding: 24px 32px;
}

/* .footer-socialmedia-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #2a2a2a;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
} */

.footer-bottom {
    padding: 14px 32px;
    display: flex;
    justify-content: flex-end;
}

.footer-copyright {
    color: var(--main-white-color);
}