.footer-container {
    width: 100%;
    background-color: var(--main-black-color);
    z-index: 1101;
}

.footer-logo-section {
    padding: 36px;
    border-bottom: 0.5px solid var(--main-white-color);
}

.footer-nav-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    border-bottom: 0.5px solid var(--main-white-color);
}

.footer-col {
    padding: 24px 36px;
    border-right: 0.5px solid var(--main-white-color);

}

.footer-col-title {
    font-family: var(--font-buttons);
    font-weight: var(--fw-fw-med);
    line-height: var(--lh-normal);
    font-size: 1.25rem;
    width: fit-content;
    text-transform: uppercase;
    color: var(--main-white-color);
    margin: 0 0 32px 0;
}

.footer-link {
    display: block;
    color: var(--main-white-color);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 16px;
    transition: color 0.2s ease;
}

.footer-link:hover {
    transform: translateY(-1px);
}

.footer-socialmedia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 24px;
    padding: 24px 32px;
}

.footer-socialmedia button {
    cursor: pointer;
    background: none;
    border: none;
    flex-shrink: 0;
}

.footer-socialmedia button:hover {
    transform: translateY(-1px);
}

.footer-bottom {
    padding: 14px 32px;
    display: flex;
    justify-content: flex-end;
}

.footer-copyright {
    color: var(--main-white-color);
}