.header {
    background-color: var(--main-white-color);
    position: fixed;
    top: 0;
    left: 2.25rem;
    width: calc(100% - 2.25rem);
    height: 5rem;
    z-index: 1100;
    border-bottom: 0.5px solid var(--main-black-color);
    padding: 0 2.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#logo {
    grid-column: 2;
    text-align: center;
    white-space: nowrap;
}

.account-buttons {
    grid-column: 3;
    display: flex;
    gap: 1rem;
    justify-self: end; 
    align-items: center;
}

.sign-in-button,
.sign-up-button {
    padding: 0.625rem 1rem;
    border: 0.5px solid var(--main-black-color);
    cursor: pointer;
}

.sign-in-button {
    background-color: var(--main-white-color);
    color: var(--main-black-color);
}

.sign-up-button {
    background-color: var(--main-black-color);
    color: var(--main-white-color);
}

.sign-in-button:hover,
.sign-up-button:hover {
    transform: translateY(-1px);
}

.sign-in-button:active,
.sign-up-button:active {
    transform: translateY(0);
}

@media (min-width: 350px) and (max-width: 800px) {
    .account-buttons {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .header {
        height: auto;
        gap: 1rem;
        padding: 1rem 2rem;
    }
}