@import './styles/Fonts.css';
@import './styles/VerticalMarquee.css';
@import './styles/Header.css';
@import './styles/App.css';
@import './styles/Auth.css';
@import './styles/TitleHeader.css';
@import './styles/MainPage.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--main-white-color);
}

:root {
  --main-black-color: #221F1D;
  --main-white-color: #FFFDF9;

  --font-logo: 'Viaoda Libre', serif;
  --font-headings: 'EthicNew', serif;
  --font-buttons: 'TerminaTest', sans-serif;
  --font-text: 'Archivo', sans-serif;

  --size-logo: 3rem;
  --size-h1: 5rem;
  --size-h2: 4rem;
  --size-h3: 2rem;
  --size-nav: 1.5rem;
  --size-buttons: 1rem;
  --size-body: 1.125rem;
  --size-small: 0.75rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-med: 500;

  --lh-tight: 1;
  --lh-normal: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  font-family: var(--font-logo);
  line-height: var(--lh-tight);
  font-size: var(--size-logo);
  color: var(--main-black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: var(--font-headings);
  font-weight: var(--fw-regular);
  line-height: var(--lh-tight);
  font-size: var(--size-h1);
  padding: 1.5rem 2.5rem;
}

h2 {
  font-family: var(--font-headings);
  font-weight: var(--fw-regular);
  line-height: var(--lh-tight);
  font-size: var(--size-h2);
  padding-bottom: 16px;
  padding-top: 16px;
}

h3 {
  font-family: var(--font-headings);
  font-weight: var(--fw-regular);
  line-height: var(--lh-tight);
  font-size: var(--size-h3);
  padding-bottom: 8px;
  padding-top: 8px;
}

#nav {
  font-family: var(--font-buttons);
  font-weight: var(--fw-light);
  line-height: var(--lh-normal);
  font-size: var(--size-nav);
}

#nav-selected {
  font-family: var(--font-buttons);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  font-size: var(--size-nav);
}

#button {
  font-family: var(--font-buttons);
  font-weight: var(--fw-light);
  line-height: var(--lh-tight);
  font-size: var(--size-buttons);
}

#text {
  font-family: var(--font-text);
  font-weight: var(--fw-med);
  line-height: var(--lh-normal);
  font-size: var(--size-body);
}

#text-smallest {
  font-family: var(--font-text);
  font-weight: var(--fw-regular);
  line-height: var(--lh-tight);
  font-size: var(--size-small);
}